<nav class="uk-navbar-container" uk-navbar>

    <div class="uk-navbar-left">
        <a routerLink="/" class="uk-navbar-item uk-logo">Nexus Portal</a>
        <ul class="uk-navbar-nav">
        </ul>

    </div>

    <div class="uk-navbar-right">

        <ul  *ngIf="loggedIn" class="uk-navbar-nav">
            <li>
                <a href="#">{{user.name}}</a>
                <div class="uk-navbar-dropdown">
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                        <li><a routerLink="/profile">Account settings</a></li>
                        <li><a (click)="logout()">Log out</a></li>
                    </ul>
                </div>
            </li>
        </ul>

    </div>

</nav>
<div class="uk-container uk-container-expand">
    <router-outlet></router-outlet>
</div>
