<a class="uk-button uk-button-primary" href="#modal-new-project" uk-toggle>New project</a>

<div #modalElement id="modal-new-project" class="uk-flex-top" uk-modal>
    <div class="uk-modal-dialog">
            <form [formGroup]="projectForm" class="uk-form-horizontal uk-margin-large" (ngSubmit)="createProject()">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="uk-modal-header">
            <h2 class="uk-modal-title">New project</h2>
        </div>
        <div class="uk-modal-body">

                <div class="uk-margin">
                    <label class="uk-form-label" for="form-horizontal-text">Name</label>
                    <div class="uk-form-controls">
                        <input class="uk-input" type="text" formControlName="name">
                    </div>
                </div>

                <div class="uk-margin">
                    <label class="uk-form-label" for="form-horizontal-text">Authority Name</label>
                    <div class="uk-form-controls">
                        <input class="uk-input" type="text" formControlName="authorityName">
                    </div>
                </div>

                <div class="uk-margin">
                    <label class="uk-form-label" for="form-horizontal-text">URL</label>
                    <div class="uk-form-controls">
                        <input class="uk-input" type="text" formControlName="uri">
                    </div>
                </div>
                
        </div>
        <div class="uk-modal-footer uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
            <button class="uk-button uk-button-primary" type="submit">Create</button>
        </div>
            </form>
    </div>
</div>


<div>
    <table class="uk-table uk-table-divider uk-table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>URL</th>
                <th>Created at</th>
                <th>Created by</th>
                <th>Modified at</th>
                <th>Modified by</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let project of projects" (click)="router.navigate(['admin/projects', project.id])">
                <td>{{project.id}}</td>
                <td>{{project.name}}</td>
                <td>{{project.uri}}</td>
                <td>{{project.createdAt | date: "medium"}}</td>
                <td>{{project.createdBy}}</td>
                <td>{{project.updatedAt | date: "medium"}}</td>
                <td>{{project.updatedBy}}</td>
            </tr>
        </tbody>
    </table>
</div>
