<div>
    <h1>Profile</h1>
</div>

<div *ngIf="loaded" class="uk-margin">
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
        <table>
            <thead>
                <tr>
                    <th class="uk-width-small"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><label>Name</label></td>
                    <td><input type="text" formControlName="name"></td>
                </tr>
                <tr>
                    <td><label>Username</label></td>
                    <td><input type="text" formControlName="username"></td>
                </tr>
            </tbody>
        </table>
        
        <button type="submit" [disabled]="!profileForm.valid" class="uk-button uk-button-primary uk-margin">Save</button>
    </form>
</div>

<div *ngIf="!loaded">
    <span uk-spinner="ratio: 4.5"></span>
</div>
